<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Obaju e-commerce template">
  <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
  <meta name="keywords" content="">

  <title>
    Obaju : e-commerce template
  </title>

  <meta name="keywords" content="">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/templates/animate.min.css">
  <link rel="stylesheet" href="/styles/templates/font-awesome.css">
  <link rel="stylesheet" href="/styles/templates/owl.carousel.css">
  <link rel="stylesheet" href="/styles/templates/owl.theme.css">
  <link rel="stylesheet" href="/styles/templates/owl.transitions.css">
  <link rel="stylesheet" href="/styles/templates/style.default.css">
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <!--STYLES END-->
  <link href="/web/css/font-awesome.css" rel="stylesheet">
  <link href="/web/css/bootstrap.min.css" rel="stylesheet">
  <link href="/web/css/animate.min.css" rel="stylesheet">
  <link href="/web/css/owl.carousel.css" rel="stylesheet">
  <link href="/web/css/owl.theme.css" rel="stylesheet">

  <!-- theme stylesheet -->
  <link href="/web/css/style.default.css" rel="stylesheet" id="theme-stylesheet">

  <!-- your stylesheet with modifications -->
  <link href="/web/css/custom.css" rel="stylesheet">

  <script src="/web/js/respond.min.js"></script>

  <link rel="shortcut icon" href="/web/favicon.png">

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/ng-module.js"></script>
  <script src="/js/dependencies/angular-cookies.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular_modules/ItemListModule.js"></script>
  <script src="/js/dependencies/angular_modules/SessionModule.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/simpleCart.js"></script>
  <!--SCRIPTS END-->
  <!-- *** SCRIPTS TO INCLUDE ***
  _________________________________________________________ -->
  <script src="/web/js/jquery-1.11.0.min.js"></script>
  <script src="/web/js/bootstrap.min.js"></script>
  <script src="/web/js/jquery.cookie.js"></script>
  <script src="/web/js/waypoints.min.js"></script>
  <script src="/web/js/modernizr.js"></script>
  <script src="/web/js/bootstrap-hover-dropdown.js"></script>
  <script src="/web/js/owl.carousel.min.js"></script>
  <script src="/web/js/front.js"></script>

</head>

<body>
<%- partial('../components/topbar.ejs') %>
<%- partial('../components/navbar.ejs') %>

<div id="all">

  <div id="content">

    <%- body %>

  </div>
  <!-- /#content -->


<%- partial('../components/footer.ejs') %>
<%- partial('../components/copyright.ejs') %>
</div>
<!-- /#all -->

</body>

</html>
