<div class="ProductsModule">
  <div class="container" ng-controller="ProductsController">
    <h3>Products</h3>
    <table class="table">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Created By</th>
        <th>description</th>
        <th>image</th>
        <th>quantity</th>
        <th></th>
        <th></th>
      </tr>

      <%console.log(items);
      _.each(items, function(item) { %>
      <form id="add-form" class="add-edit" name="addCart">
        <div class="simpleCart_shelfItem">
          <tr data-id="<%= item.id %>" data-model="item">
            <td><p class="item_name" ><%= item.name %></p></td>
            <td><span class="item_price" ><%= item.price %></span></td>
            <td><%= item.createdBy.username %></td>
            <td><%= item.description %></td>
            <td>image</td>
            <td>
              <input type="hidden" class="item_name" value="<%= item.name %>">
              <input type="hidden" class="item_price" value="<%= item.price %>">
              <input type="text" class="item_Quantity" id="quantity<%= item.id %>"></td>
            <td><button class="item_add btn btn-medium btn-primary" href="#" type="submit" onclick="addToCart(<%= item.id %>, '<%= item.name %>', <%= item.price %>);return false;">Add to cart</button></td>
            <td><a href="#">Purchase</a></td>
          </tr>
        </div>
      </form>
      <% }) %>
    </table>
    <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
    <a href="javascript:;" class="simpleCart_checkout">Checkout</a>

  </div>

  <script type="text/javascript">
    simpleCart.email = "pghoou@hotmail.com";
    simpleCart.cartHeaders = ['Image', 'Name', 'Price', 'Options', 'Quantity_input', 'Total'];
    simpleCart({
      checkout: {
        type: "PayPal",
        email: "you@yours.com"
      }
    });
    function addToCart(id, name, price) {
      console.log('id='+id);
      console.log('quantity'+id);
      var quantity = $('#quantity'+id).val();
      console.log(quantity);
      simpleCart.add('quantity='+quantity, 'name='+name, 'price='+price);
      return false;
    }
  </script>
</div>
